body {
    background-color: #141414;
    color: white;
    font-family: 'Arial';
    white-space: nowrap;
}


.personal {
    border: 1px solid white;
}

.logo img {
   width: 100px;     
}

/*DA CELLULARE*/

.burgerMenu {
    height: 40px;
    width: 40px;
}

.buttonBurgerMenu {
    background: none;
    color: white;
    border: none;
}

.profileLogo {
    width: 25px;
    height: 25px;
}

#inputContainerMobile {
    height: 35px;
}

#inputContainerMobile input {
    width: 100px;
    max-width: 150px;
    background-color: rgb(17, 17, 17);
    
}

/*BURGER MENU DA MOBILE OFFCANVAS DAL BASSO*/

.offcanvas {
    background-color: #232323;
    --bs-offcanvas-height: 50vh;
}

.profileLogoOff {
    width: 35px;
    height: 35px;
}

.dividerOff {
    width: 40vh;
}

.menuOffCanvas li a{
    text-decoration: none;
    color: grey;
}



.menuOffCanvas li a:hover {
    color: white;
}


/*MD e Seguenti*/


.menuPrincipale {
    font-size: 14px;
}

.menuPrincipale a {
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 13px;
}

.menuPrincipale a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Arial';
    
}

.notificationIcon {
    height: 20px;
    width: 20px;
}

.svg-link svg {
    fill: white;
}

#inputContainer {
    height: 35px;
}

#inputContainer input {
    background-color: rgb(17, 17, 17);
}

#videoContainer {
    position: relative;
    height: 220px;
    margin: 0 auto;
 }
  
#videoContainer iframe {
    width: 100%;
    height: 100%;
}

  

/*ROW CON I GENERI DEI FILM*/

.buttonGenres {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/*checkbox mascherate da bottoni per i 2 bottoni display in linea o griglia*/

.radioDisplay {
    display: none;
}

.radioLabel {
    width: 50px;
    border: 1px solid rgb(112, 109, 109);
    background-color: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioLabelToggled {
    background-color:  rgb(182, 182, 182);
    border: 1px solid white;
    color: white;
}

.radioLabel ion-icon {
    margin: 0;
}

.radioDisplay:checked + .radioLabel {
    background-color:  transparent;
    border: 1px solid white;
}


.filmCard {
    width: 250px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.filmCard:hover {
    transform: scale(1.150);
    z-index: 10;
}


.swiper-slide {
    width: 250px !important;
}

.visibleOnScroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visibleOnScroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 80%, #141414 95%);
    z-index: 2;
    pointer-events: none;
}



/*.swiper-button-prev,
.swiper-button-next {
    color:white;
    z-index: 10 !important;
}*/

.swiper-button-prev {
    color:white;
    z-index: 10 !important;
    width: 22.61px;
    transform: translate(0, -80%);
}

.swiper-button-next {
    color:white;
    z-index: 10 !important;
    width: 22.61px;
    transform: translate(0, -80%);
}

.footerEndSpan {
    font-size: 10px;
    color: rgb(130, 130, 130);
}

.socialLogos {
    height: 20px;
    width: 20px;
    object-fit: cover;
    color: rgb(130, 130, 130);
}

.ulSizeFooter a {
    text-decoration: none;
    color: rgb(130, 130, 130);
    font-size: 12px;
}

.ulSizeFooter a:hover {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.serviceCodeButton {
    color: rgb(130, 130, 130);
    border: 1px solid rgb(130, 130, 130);
    background-color: transparent;
    font-size: 12px;
}

.serviceCodeButton:hover {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
}



