body {
    background-color: #141414;
    color: white;
    font-family: 'Arial';
    white-space: nowrap;
}


.personal {
    border: 1px solid white;
}

.logo img {
   width: 100px;     
}

/*DA CELLULARE*/

.burgerMenu {
    height: 40px;
    width: 40px;
}

.buttonBurgerMenu {
    background: none;
    color: white;
    border: none;
}

.profileLogo {
    width: 25px;
    height: 25px;
}

/*MD e Seguenti*/


.menuPrincipale {
    font-size: 14px;
}

.menuPrincipale a {
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 13px;
}

.menuPrincipale a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Arial';
    
}

.notificationIcon {
    height: 20px;
    width: 20px;
}

/*ROW CON I GENERI DEI FILM*/

.buttonGenres {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/*checkbox mascherate da bottoni per i 2 bottoni display in linea o griglia*/

.radioDisplay {
    display: none;
}

.radioLabel {
    width: 50px;
    border: 1px solid rgb(112, 109, 109);
    background-color: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioLabelToggled {
    background-color:  rgb(182, 182, 182);
    border: 1px solid white;
    color: white;
}

.radioLabel ion-icon {
    margin: 0;
}

.radioDisplay:checked + .radioLabel {
    background-color:  transparent;
    border: 1px solid white;
}


.filmCard {
    width: 250px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

/*.filmCard:hover {
    transform: scale(1.2);
    z-index: 10;
}*/


.swiper-slide {
    width: 250px !important;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.swiper-slide:hover {
    transform: scale(1.2);
    z-index: 2;
}

.swiper-slide:hover .swiper-wrapper {
    z-index: 0;
}

.swiper-slide-active {
    z-index: 999 !important;
}

.swiper-button-prev,
.swiper-button-next {
    color:white;
}

.footerEndSpan {
    font-size: 10px;
    color: rgb(130, 130, 130);
}

.socialLogos {
    height: 20px;
    width: 20px;
    object-fit: cover;
    color: rgb(130, 130, 130);
}

.ulSizeFooter a {
    text-decoration: none;
    color: rgb(130, 130, 130);
    font-size: 12px;
}

.ulSizeFooter a:hover {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.serviceCodeButton {
    color: rgb(130, 130, 130);
    border: 1px solid rgb(130, 130, 130);
    background-color: transparent;
    font-size: 12px;
}

.serviceCodeButton:hover {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
}



